:root {
    --color1: var(--bulma-primary);
    --color2: var(--bulma-info);
    --color3: var(--bulma-link);
    --color4: var(--bulma-info-90);
    --color5: var(--bulma-danger);
    --color6: var(--bulma-warning);
    --color7: var(--bulma-white-ter);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*navbar*/
html body .navbar .navbar-link::after {
    border-color:var(--color1) !important;
}

.navbar-burger {
    background-color: transparent;
    box-shadow: none;
}
.navbar-burger span {
    background-color: var(--color2);
}

.navbar-burger:hover {
    background-color: #eceeee;;

}

/*login*/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container > .login,
.main-container > .hero-body {/*404*/
    height: auto;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
}

/*para algunos formularios que estan en una linea*/
.form-inline {
    display: inline-flex;
}

/*Registro usuario - categorias - productos*/
.form-register {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.button-custom {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    border-radius: 9999px; /* is-rounded */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
    color: var(--color7);
}

.button-custom:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}

.button-cancel {
    background-color: var(--color2);
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.button-cancelar:hover {
    background-color: #33c1f3;
}


.button-exit {
    background-color: #48c7f0;
}

.btn-search {
    background: hsl(274, 100%, 77%);
}
.btn-search:hover {
    background-color: hsl(274, 100%, 70%);
}

.btn_img_delete {
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    border-radius: 9999px; /* is-rounded */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
}

.btn_img_delete:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}

.input {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    color: #363636;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.input:focus {
    border-color: var(--color1);
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.2);
    outline: none ! important; 
}

.label {
    color: var(--text-gray);
    font-weight: 600;
}

.control.has-icons-right .icon.is-right i {
    color: var(--color2);
}

/* Centrado y espaciado botones */
.column.is-full.has-text-centered {
    margin-top: 2rem;
}

/* Lista usuarios-categorias-productos */

.table-container {
    border-radius: 10px;
}

.icon-link {
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.icon-link:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.fa-user-pen, .fa-pen {
    color: var(--color2) !important;
}

.fa-eye, .fa-image {
    color: hsl(274, 100%, 70%);
}

.text-view-product {
    color:  hsl(274, 100%, 70%);
}

.button-reload {
    background-color:  hsl(274, 100%, 70%) !important;
}

.button-reload:hover {
    background-color: hsl(274, 100%, 65%) !important;
}   

.pagination-link.is-current {
    background-color: hsl(171, 100%, 41%); /* Bulma 'is-info' */
    color: white;
    border-radius: 50%;
    font-weight: 600;
    border: none;
}
.pagination-link:hover {
    background-color: hsl(171, 100%, 96%);
    color: hsl(171, 100%, 41%);
}

.select:not(.is-multiple)::after {
    border-color: var(--color1) !important; /* Cambio color flecha desplegable categorias */
}

.select select:focus {
    border-color: var(--color1);   /* Color personalizado del borde al enfocar */
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.2);
}

/* tabla reducida listar usuarios/categorias*/
.tabla-reducida {
    max-width:1200px;
    margin: auto;
}

/* Centrar contenido de las celdas de la tabla productos*/
.table td,
.table th {
    vertical-align: middle;
}

/* animacion notificación */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Estilos adicionales vista productos por categoria y encabezado de usuarios, categorias y productos*/
.text-button {
        transition: all 0.3s ease;
    }
    .text-button:hover {
        transform: translateX(5px);
    }
    .divider-container {
        text-align: left;
    }
    .divider-aligned-left {
        height: 2px;
        background: linear-gradient(to right, #00d1b2, transparent);
        margin: 1rem 0;
        width: 200px;
        max-width: 100%;
        display: block;
        margin-right: auto;
        margin-left: 0;
    }
    .card {
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.05);
        height: 100%;
    }

    .card-content {
        padding: 1rem;
    }

    .menu {
        max-height: 70vh;
        overflow-y: auto;
    }

    .menu-list a.is-active {
        background-color: hsl(274, 100%, 70%);
        color: white;
    }

    .box {
        border-radius: 8px;
        box-shadow: 0 2px 20px rgba(0,0,0,0.05);
        min-height: 100%;
    }

    /* Estilos adicionales vista producto-image*/

    .card-image {
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        border: 1px solid #f5f5f5;
    }
    .file.is-boxed .file-cta {
        flex-direction: column;
        height: auto;
        padding: 1.5em;
        border: 2px dashed #dbdbdb;
        transition: all 0.3s ease;
    }
    .file.is-boxed .file-cta:hover {
        border-color: #00d1b2;
        background-color: #f9f9f9;
    }
    .file.is-boxed .file-icon {
        font-size: 1.5em;
        margin-bottom: 0.5em;
        color: #00d1b2;
    }

    